/* 
Developer : Pushpinder Singh
Github: https://github.com/psthejohn
E-mail: Pushpinder.Singh@itcinfotech.com 
*/
body {
  margin: 0;
  background: #0d7f87 !important;
}
canvas {
  width: 100%;
  height: 100%;
}
